QListWidget::item {
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: baseline;
    background: #E0E1E2 none;
    color: rgba(0, 0, 0, 0.6);
    margin: 0em 0.25em 0em 0em;
    padding: 0.25em 1.5em 0.25em;
    text-transform: none;
    font-weight: bold;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;
}

QListWidget::item:hover {
    background-color: #CACBCD;
    background-image: none;
    color: rgba(0, 0, 0, 0.8);
}

QListWidget::item:focus {
    background: lightslategray none;
    font-weight: bold;
    line-height: 1em;
    font-style: normal;
    text-align: center;
}
